#main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#workspace {
    display: flex;
    flex: 2;
}

.fiddle-command-bar #CommandBar0tidyUp .ms-Icon,
.fiddle-command-bar #CommandBar0debug .ms-Icon,
.fiddle-command-bar #CommandBar0showKeyboardShortcuts .ms-Icon
{
    font-family: FontAwesome;
}

.ReactCodeMirror {
    width: 100%;
    height: 100%
}

.CodeMirror {
    border: 1px solid #eee;
    height: 100%;
}

.dockContent {
    width: '100%';
    height: '100%';
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
    flex-direction: 'column';
}

.sidebar-toggle-button-icon {
    display: block;
    width: 24px;
    height: 19px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    background-image: url("./sidebar_normal.svg");
}

.ms-Pivot .ms-Pivot-link[class*="linkIsSelected_"]::before{
    border-bottom: 2px solid darkgoldenrod;
}

.left-sidebar>.Resizer {
    background: #c8c8c8;
}

.left-sidebar>.Resizer .ResizerHandle {
    background-color: initial;
}

.left-sidebar-body {
    height: 100%
}

.left-sidebar-body .ms-Pivot {
    background-color: #402312
}

.nav-bar {
    background-color: black;
    color: white;
}